@media(max-width:10000px){
...... your css styles

body{
    background-color: slateblue
}
.certificate{
    color: yellow;
}
.img{
    margin-right: -0px
}
.Aboutme{
    color: white
}
.skills{
    color: white;
}
.greetings{
    color: white;
}
.AL{
    color: white;
}
.OL{
    color: white;
}
.D
    columns: white;
}
}


